{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}

{% block body %}

    <h1 class="display-3">Article en vente</h1>
    <div class="d-flex align-content-start flex-wrap">
        {% for item in items %}
            <div class="card" style="width: 20vw;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="fst-italic"><mark>{{ item.tag }}</mark></p>
                    <p>{{ item.publishedAt|date('d-m-Y s:i:H') }}</p>
                    <p>{{ item.price }}<sup>€</sup></p>
                    <p>{{ item.slug }}</p>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="{{ path('app_showone', {slug: item.slug}) }}" class="btn btn-info">Voir le produit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
