{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end mt-2">
        {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}" class="btn btn-secondary me-2 ms-2">Se déconnecter</a>
        {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
        {% endif %}
    </div>

    <h1 class="display-3">Article en vente</h1>

    <form method="post" action="{{ path('app_homepage') }}" class="mb-3">
        <input type="radio" id="vehicule" name="search" value="vehicule">
        <label for="vehicule">Véhicule</label>
        <input type="radio" id="maison" name="search" value="maison">
        <label for="maison">Maison</label>
        <input type="radio" id="electronique" name="search" value="electronique">
        <label for="electronique">Électronique</label>
        <input type="radio" id="mode" name="search" value="mode">
        <label for="mode">Mode</label>
        <input type="radio" id="loisirs" name="search" value="loisirs">
        <label for="loisirs">Loisirs</label>
        <input type="radio" id="art" name="search" value="art">
        <label for="art">Art</label>
        <input type="radio" id="multimedia" name="search" value="multimedia">
        <label for="multimedia">Multimedia</label>
        <input type="submit" value="Appliquer le filtre">
    </form>

    <div class="d-flex align-content-start flex-wrap">
        {% for item in items %}
            <div class="card" style="width: 20vw;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="fst-italic"><mark>{{ item.tag }}</mark></p>
                    <p>{{ item.publishedAt|date('d-m-Y s:i:H') }}</p>
                    <p>{{ item.price }}<sup>€</sup></p>
                    <p>{{ item.slug }}</p>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="{{ path('app_showone', {slug: item.slug}) }}" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
