{% extends 'base.html.twig' %}

{% block title %}ARTICLE{% endblock %}

{% block body %}
    <h1 class="display-5 ms-2">{{ items.title }}</h1>
    <p class="ms-2 fs-5"><mark class="bg-info">{{ items.tag }}</mark></p>
    <p class="ms-2"><u>Publié le:</u> {{ items.publishedAt|date('d-m-Y H:i:s') }}</p>
    <p class="ms-2 fs-4"><u>Prix:</u> {{ items.price }}<sup>€</sup></p>
    <p class="ms-2 fs-5"><u>Vendeur:</u> {{ items.users.lastName }} {{ items.users.firstName }}</p>
    <div class="js-vote">
        <a href="{{ path('app_vote', { direction: 'up', userId: items.users.id, slug: items.slug }) }}" class="badge bg-success vote-up" data-direction="up" data-id="{{ items.users.id }}">+1 :)</a>
        <a href="{{ path('app_vote', { direction: 'down', userId: items.users.id, slug: items.slug }) }}" class="badge bg-danger vote-down" data-direction="down" data-id="{{ items.users.id }}">-1 :(</a>
        <span class="badge bg-secondary mx-3 vote-total">{{ items.users.votes }}</span>
    </div>
    <p class="ms-2 fs-4">{{ items.description }}</p>

    <div>
        <h4 class="mt-5 ms-2">Commentaires:</h4>
        {% for question in items.questions %}
            <div style="border: solid">
                <p class="ms-2">{{ question.name }}</p>
                <p class="ms-2">{{ question.askedAt|date('d-m-Y H:i:s') }}</p>
                <p class="ms-2">{{ question.question }}</p>
                {% if app.user.email == items.users.email %}
                    <form method="post" action="{{ path('app_answer') }}">
                        <input type="text" name="answer-content" placeholder="Répondre à {{ question.name }}">
                        <input type="hidden" name="answer-questionId" value="{{ question.id }}">
                        <input type="hidden" name="answer-ItemsSlug" value="{{ items.slug }}">
                        <input type="submit" value="Envoyer votre réponse" class="button button-secondary">
                    </form>
                {% endif %}
                {% if question.answers %}
                    <h4>Réponses</h4>
                    {% for answer in question.answers %}
                        <div style="border: solid red">
                            <p>{{  answer.content }}</p>
                            <p>{{ answer.answerAt|date('d-m-Y H:i:s') }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{#    <script defer src="{{ asset('js/vote.js') }}"></script>#}
{% endblock %}